@charset "UTF-8";

/* 共通部分 */
html{
    font-size: 100%;
}
body{
    font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
    line-height: 2;
    color: #646464;
}
img{
    max-width: 100%;
}

/* TOP */
.top{
    height: 610px;
    margin: 0 auto;
    background-image: url(../cafeimg/topimg.jpg);
    background-size: cover;
    min-height: 100vh;
}
.top-title{
    font-size: 112px;
    padding-left: 66px;
    padding-top: 99px;
    line-height: 1;
    text-align: left;
    color: #fff;
    text-shadow: 0 4px 4px rgba(255, 255, 255, .25);
}
.introduction{
    width:100%;
    height: 386px;
    background-color: #f0eceb;
    
}
.intro-contents{
    margin: 0 auto;
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.intro-text h2{
    font-size: 24px;
    padding-top: 67px;
    font-family: "Times New Roman";
    /*letter-spacing: 2px;*/
}
.intro-text p{
    font-size: 12px;
    padding-top: 26px;
}
.coffee-img{
    padding-top: 125px;
    width: 42%;
    height: 42%;
}
.menu{
    width: 100%;
    height: 1285px;
    background-color: #E4E0DD;
}
.menu-img-wrapper{
    width: 57%;
    margin: 0 auto;
}
.menu-img{
    padding-top: 78px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3,1fr);
}
.big-box{
    grid-column: 1/3;
    grid-row: 1/3;
    width: 700px;
    height: 473px;
    object-fit: cover;
}
.midle-box{
    grid-column: 3/4;
    grid-row: 1/3;
    height: 473px;
    object-fit: cover;
}
.mini-box{
    grid-row: 3/4;
    height:214px;
    width: 100%;
}
.minicafe-box{
    height:214px;
    object-fit: cover;
    object-position: 100% 0;
}

.menu-contents{
    margin: 0 auto;
    width:60%;
}
.menu-title{
    font-size: 24px;
    font-family: "Times New Roman";
    /*letter-spacing: 2px;*/
    padding-top: 83px;
}
.menu-jptitle{
    font-size: 10px;
    font-weight: normal;
    padding-bottom: 35px;
}
.menu-content{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 13px 0 13px;
    border-bottom: 1px #C4C0BD solid;
}
.border{
    border-top: 1px #C4C0BD solid;
    border-bottom: 1px #C4C0BD solid;
}
.menu-table{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5%;
}
.place{
    height: 730px;
    width: 100%;
    background-color: #f0eceb;
}
.place-contents{
    width: 57%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}
.place-content{
    width: 330px;
    margin-top: 104px;
}
.place-content img{
    height: 214px;
    width: 330px;
    object-fit: cover;
}
.place-content h2{
    font-size: 24px;
    font-family: "Times New Roman";
    /*letter-spacing: 2px;*/
    padding-top: 50px;
}
.place-content h3{
    font-size: 10px;
    font-weight: normal;
    padding-top: 25px;
}
.place-content p{
    font-size: 12px;
    padding-top: 50px;
}
.shop-bg{
    height: 663px;
    width: 100%;
    background-image: url(../cafeimg/footerimg.jpg);
    background-size: cover;
    position: relative;
}
.shop-info {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 12px;
    padding: 39px;
    align-items: flex-end;
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
